<div class="info">
	<p class="date"><%= post.date %></p>
	<p class="views"><%= post.views || '0' %> views</p>
</div>
<p class="title" contenteditable="true"><%= post.title %></p>
<div class="tags" contenteditable="true">
	<%- post.tags.map(el => `<a href="#" class="tag">${el}</a>`).join('\n') %>
</div>
<p class="content" contenteditable="true">
	<%= post.content %>
</p>